[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
diagrams = "==0.6.3"
flake8 = "==3.7.9"
mypy = "==0.761"
pycodestyle = "==2.5.0"
pydocstyle = "==5.0.2"

[packages]
beautifulsoup4 = "==4.9.0"
celery = {extras = ["redis"],version = "==4.4.0"}
fastapi = "==0.65.2"
flower = "==0.9.4"
joblib = "==0.14.1"
librosa = "==0.7.2"
numba = "==0.48.0"
pydantic = "==1.6.2"
redis = "==3.4.1"
requests = "==2.23.0"
retrying = "==1.3.3"
uvicorn = "==0.11.7"

[scripts]
diagram="python docs/diagram/diagram.py"
broker = "docker run -d --rm --hostname celery-rabbit --name celery-broker -p 8080:15672 -p 5672:5672 rabbitmq:3.8.2-management-alpine"
backend = "docker run -d --rm --hostname celery-redis --name celery-backend -p 6379:6379 redis:5.0.7 redis-server --requirepass password"
flower= "flower --port=5555 --broker_api=http://guest:guest@localhost:8080/api/"
wAudio = "celery worker -A src.workers.audio.worker.audio --loglevel=INFO --concurrency=2 --hostname=wAudio@%h --queues audio -E --config=src.workers.audio.config"
wEuro = "celery worker -A src.workers.euro.worker.euro --loglevel=INFO --concurrency=2 --hostname=wEuro@%h --queues euro -E --config=src.workers.euro.config"
api = "uvicorn src.api.api:api --host 0.0.0.0 --port 5000 --reload --reload-dir src.api --debug"
client = "python src/client/client.py"
